@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.text-pink-300 {
    --tw-text-opacity: 1;
    color: rgba(249, 168, 212, var(--tw-text-opacity));
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}